@font-face {
    font-family: "tmon";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nanum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mapleLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

body::before {
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./image/background.jpg');
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    transform: scale(1.08);
    background-repeat: no-repeat;
    z-index: -1;
    content: "";
    background-position: center center;
}

h2 {
    margin: 30px 0;
    text-align: center;
    font-size: 36px;
    font-family: "nanum";
}

img {
    height: 50px;
    width: 50px; 
    transition: .1s;  
}

label {
    cursor: pointer;
}

label:active > img{
    transform: scale(1.2);
}

#container > p {
    -webkit-text-stroke: 3px black;
    text-align: center;
    color: white;
    font-size: 90px;
    font-family: "tmon";
}

#box-main {
    margin:0 auto;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#uncheck-icon {
    display: none;
}

#uncheck-icon + label {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    transition: .2s;
    left: 88%;
    top: -12.5%;
}

#uncheck-icon + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: white;
}

#uncheck-icon + label span:nth-child(1) {
    top: 50%;
    transform:translateY(-50%) rotate(45deg);
}

#uncheck-icon + label span:nth-child(2) {
    bottom: 50%;
    transform:translateY(50%) rotate(-45deg);
}

#uncheck-icon + label:active {
    transform: scale(1.3);
}

#symbol-type {
    width: 590px;
    height: 350px;
    border-radius: 10px;
    border: 5px solid black;
}

#symbol-type > h2 {
    margin: 27px 0;
}

#symbol-information {
    width: 600px;
    height: 350px;
    border-radius: 10px;
    border: 5px solid black;
}

#box-result {
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    background-color: white;
    justify-content: space-around;
    margin: auto;
    width: 860px;
    height: 260.5px;
}

#box-result > .result-icon {
    cursor: pointer;
    margin: 32px 0;
    display: inline-block;
    background-image: url("./image/StoneSpirit.png");
    background-size: cover;
    width: 183px;
    height: 196.5px;
    transition: 0.05s;
}

#box-result > .result-icon:active {
    transform: scale(1.05);
    background-image: url("./image/StoneSpirit_active.png");
    z-index: 3;
}

#result {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#result > p {
    margin: 10px 0;
    text-align: center;
    font-size: 30px;
    font-family: "mapleLight";
}

.symbol {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.calculate {
    display: flex;
    justify-content:space-between;
    width: 500px;
    margin: auto;
}

.calculate > h2{
    font-size: 32px;
    margin: auto 0;
}

.input-value {
    margin: 26.5px 0 31px 0;
    width: 140px;
    height: 30px;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

input[type="number"] {
    border-radius: 5px;
    padding:4px 1px 2px 9px;
    width: 140px;
    height: 30px;
    font-family: "nanum";
    -moz-appearance: textfield;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    font-size: 24px;
    color: #202030;
}